@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url(../../Content/Bible.jpg); background-size: cover">
    <h1 style="color: whitesmoke">Bible Verses</h1>
    <p class="lead" style="color: whitesmoke">This web application is great for entering your favorite bible verses for later study and reflection.</p> 
    <p><a class="btn btn-default" href="~/Home/About">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            Visit this page to add a verse to your collection. Just enter the Testament, Book, Chapter, Verse Number, and the Verse itself to create a new entry that you can search for and visit later.
        </p>
        <p><a class="btn btn-default" href="~/Home/AddVerse">Add Verse &raquo;</a></p>
    </div>

    <div class="col-md-6">
        <h2>Find what you're looking for</h2>
        <p>Click here to search for a specific verse within your collection. Search with Chapter and Verse, or even part of the verse itself! Try it now!</p>
        <p><a class="btn btn-default" href="~/Home/Search">Search &raquo;</a></p>
    </div>    
</div>